.vehicles-filter {
  padding: 0 1rem;
  display: inline;
}

.vehicles-filter label {
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 0.5rem;
}

.vehicles-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}